<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE configuration [
	<!ENTITY dbPath "C:\Users\Tyler\source\repos\FlashCards\FlashCards\DatabaseManagement\DataBase.mdf">
]>
<configuration>
	<test>HelloWorld!</test>
	<anotherTest>AnotherWorld</anotherTest>
	<dbFilePath>&dbPath;</dbFilePath>
	<dbConnectionString>Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=&dbPath;;Integrated Security=True</dbConnectionString>
</configuration>
